#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainSection{
  flex-grow: 1;
  overflow: hidden;
}

/*Navbbar*/

.navbar-cristal {
  background-color: lightslategray; 
  backdrop-filter: blur(10px); 
}

.navbar-cristal .nav-link:hover {
  color: goldenrod;
}

/*Footer*/

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: goldenrod;
}

.footer-icon-link {
  text-decoration: none;
}

.footer-icon {
  fill: #b8860b;
}

.footer-icon:hover {
  fill: azure;
}

.footer-text {
  margin-left: 5px;
}

/*Error 404*/

.error404-img {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
  }

  .error404-texto {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
    z-index: 1;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .error404-contenido {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

  }

.fondo-tabla
{
  background-color: #8c7851;
}
  /*Sobre Nosotros*/

  .sobreNosotros-card {
    justify-content: center;
  }
