@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Libre+Baskerville&display=swap');

*{
  --detalles: #8c7851;
  --texto-secundario: #716040;
  font-family: 'Libre Baskerville', serif;
}
#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}



h1, h2{
  font-family: 'Castoro Titling', cursive;
}

.mainSection{
  flex-grow: 1;
  overflow: hidden;
}

/*Navbbar*/

.navbar-cristal {
  background-color: lightslategray; 
  backdrop-filter: blur(10px); 
}

.navbar-cristal .nav-link:hover {
  color: goldenrod;
}

.logoJSON{
  width: 100px;
  height: auto;
}

.btn-floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: goldenrod;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
}

.btn-floating.show-button {
  opacity: 1;
  pointer-events: auto;
}

html {
  scroll-behavior: smooth;
}

/*Landing Page*/

/* .banner-image {
  background: linear-gradient(to right, #161616 65%, #C0FF0D 40%);
} */
.banner{
  height: 100vh;
}
#banner-image{
  display:none;
}

.texto-landing h1,p{
  color: var(--texto-secundario);
}

#btn-landing{
  text-decoration: none;
  color: #fafafa;
  background-color: var(--detalles);
  border: none;
}

.icono-abajo-landing{
  margin-right: 0em;
  animation: pulso 2s infinite;
}

.categoria{
  width: 170px !important;
  aspect-ratio: 1/1 !important;
  border-radius: 50% !important;
  background-color: var(--detalles) !important;
  align-items: center !important;
  text-decoration: none !important;
  color: #fafafa !important;
  border-color: black !important;
}

.categoria span{
  font-size: 1.2rem;
}

.buscador{
  width: 100%;
}

#btn-buscador{
  background-color: var(--detalles);
  border: none;
}

#btn-comida{
  text-decoration: none;
  color: #fafafa;
}

#precio-comida{
  color: #f25042;
}

/*Footer*/

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: goldenrod;
}

.footer-icon-link {
  text-decoration: none;
}

.footer-icon {
  fill: #b8860b;
}

.footer-icon:hover {
  fill: azure;
}

.footer-text {
  margin-left: 5px;
}

/*Error 404*/

.error404-img {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: -1;
  }

  .error404-texto {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
    z-index: 1;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .error404-contenido {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

  }

  /*Sobre Nosotros*/

  .sobreNosotros-card {
    justify-content: center;
  }

  .brandJSON{
    width: 700px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .fondo-acerca {
    background-image: url('../src/assets/Interior.jpg');
    
  }

  /* Pedido */
  .contenedorImgTabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }

  .imgTabla{
    width: 80px;
    margin: 10px;
    height: 100%;
  }

  .contenedorCantidad{
    height: 100px;
  }
  
  #btn-comida{
    margin: 0 auto;
    background-color: var(--detalles);
    border: none;
  }
  #btn-verdetalle{
    margin: 0 auto;
    background-color: #fafafa;
    border: 1px solid #8c7851 ;
    color: #8c7851;
  }
  #btn-verdetalle:hover{
    background-color: #8c7851;
    color: #fafafa;
  }

  @keyframes pulso {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1);
    }
  }

  @media (min-width: 769px) {
    #banner-image{
      display:block;
    }

    .buscador{
      width: 50%;
    }
    
  }

textarea{
  resize: none !important;
}

.admin-formulario
{
  background-color: #b6b1a6;
}

.colorCard{
  background-color: #8c7851 !important;
  color: #fff !important;
}