#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainSection{
  flex-grow: 1;
  overflow: hidden;
}

.navbar-cristal {
  background-color: lightgrey; 
  backdrop-filter: blur(10px); 
}

.navbar-cristal .nav-link:hover {
  color: goldenrod;
}